.runing-row.top {
  position: absolute;
  left: 0;
  z-index: 10;
}
@media (max-width: 768px) {
  .runing-row {
    display: none;
    height: 40px;
  }
}
.runing-row {
  display: block;
  position: relative;
  width: 100%;
  height: 70px;
  overflow: hidden;
}

.runing-row.top.or div {
  background-position: left center;
  background-repeat: repeat-x;
  background-size: auto 70px;
}
@media (max-width: 768px) {
  .runing-row.top div {
    display: none;
    background-position: left center;
    background-repeat: repeat-x;
    background-size: auto 40px;
  }
}
.runing-row.footer div,
.runing-row.or div {
  background-position: left center;
  background-repeat: repeat-x;
  background-size: auto 70px;
}
.runing-row.top div {
  background-position: left center;
  background-repeat: repeat-x;
  background-size: auto 80px;
}
.runing-row div {
  background-image: url("/images/banner-row.png");
}
@media (max-width: 768px) {
  .runing-row div {
    height: 40px;
    background-position: left center;
    background-repeat: repeat-x;
    background-size: auto 40px;
  }
}
.runing-row div {
  display: block;
  position: absolute;
  width: 200%;
  height: 67px;
  animation: scroll-left 40s linear infinite;
  background-position: 0 0;
}

@media (max-width: 768px) {
  .runing-row div {
    display: block;
    position: absolute;
    width: 200%;
    height: 59px;
    animation: scroll-left 60s linear infinite;
    background-position: 0 0;
  }
}

@keyframes scroll-left {
  0% {
    background-position: left; /* Inicia desde la derecha */
  }
  100% {
    background-position: right; /* Termina en la izquierda */
  }
}

.underline-text {
  display: inline-block;
  position: relative;
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.underline-text::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -5px; /* Ajusta este valor para aumentar el padding */
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.underline-text:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
